---
layout: default
---

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}

In general, my research interests are sentence and word processing using experimental (reaction time, accuracy, eye-tracking) and neuroimaging (EEG) methods. 

I focus on how syntactic, semantic and prosodic information can be integrated in sentence comprehension. I am also interested in written word recognition and orthographic processing in Chinese. 

I work closely with [Dr. Chien-Jer Charles Lin](https://sites.google.com/view/chienjerlin/home) in the [Language and Cognition Lab](https://sites.google.com/view/language-and-cognition/home) at [Indiana University Bloomington](https://bloomington.iu.edu/index.html).
