$ssp-font-path: "../../assets/fonts/SourceSans3-Regular" !default
@font-face
  font-family: 'SourceSans3'
  src: local('SourceSans3-Regular'), local('SourceSans3-Regular'), url('../fonts/SourceSans3-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SourceSans3'
  src: local('SourceSans3-Bold'), local('SourceSans3-Bold'), url('../fonts/SourceSans3-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
