@font-face
  font-family: 'FiraSans'
  src: local('FiraSans'), local('FiraSans-Regular'), url('/assets/fonts/FiraSans-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FiraSans'
  src: local('FiraSans SemiBold'), local('FiraSans-SemiBold'), url('/assets/fonts/FiraSans-SemiBold.woff') format('woff')
  font-weight: bold
  font-style: normal
