$ssp-font-path: "../../assets/fonts/Roboto-Regular" !default;
@font-face
  font-family: 'Roboto'
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto'
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
