$font-size: calc(0.75rem + 0.45vw) !default
$font-weight: 430 !default
$font-family: "Calibri", -apple-system, "Helvetica Neue", "Segoe UI", "SourceSans3", "Calibri", "aptos" !default
$heading-weight: 680 !default
$line-height: 1.4 !default
$link-color: #008B8B !default  
$dark: #202124 !default
$light: #ffffff !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
