$font-size: calc(0.8rem + 0.4vw) !default
$font-weight: 400 !default
$font-family: "Calibri", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", "Calibri", sans-serif !default
$heading-weight: 650 !default
$line-height: 1.4 !default
$link-color: #68f !default
$dark: #212228 !default
$light: #ffffff !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
